Repository yildiztugba/HYKWebsite, pull requests merged in 2021-04, with the labels that each got.

#7 Create wireframe.md
  planning/wireframe.md
Labels: planning

#11 Created Img folder
  Img
Labels: documentation

#9 Added read me file
  README.md
Labels: documentation

#14 Added constraints.md file
  planning/constraints.md
Labels: planning

#13 Create empty backlog file
  planning/backlog.md
Labels: planning

#10 README.md
  planning/README.md
Labels: documentation

#28 Create retrospective.md
  planning/retrospective.md
Labels: planning

#29 Updated availability Deepa
  planning/README.md
Labels: planning

#37 backlog.md to core value
  planning/backlog.md
  planning/core value-backlog.md
Labels: Backlog

#38 conatct form backlog
  planning/Donation form-backlog.md
  planning/contact form-backlog.md
Labels: Backlog

#39 Update contact form-backlog.md
  planning/contact form-backlog.md
Labels: Backlog

#35 backlog.md
  planning/backlog.md
  planning/contact form-backlog.md
Labels: Backlog

#40 Donation form-backlog.md
  planning/backlog.md
  planning/contact form-backlog.md
Labels: Backlog

#42 backlog.md
  planning/Donation form-backlog.md
Labels: Backlog

#41 backlog.md
  planning/Donation form-backlog.md
  planning/contact form-backlog.md
Labels: Backlog

#43 backlog.md
  planning/Donation form-backlog.md
  planning/backlog.md
Labels: Backlog

#44 Wireframe HYF
  planning/wireframeH.png
Labels: planning

#36 added 2 goals for could have list
  planning/backlog.md
Labels: Backlog

#45 Final version wireframe
  planning/wireframe.md
Labels: planning

#46 added header and footer must have user story backlog
  planning/backlog.md
Labels: Backlog, planning

#47 Added main screen and showcase must have user story backlog
  planning/backlog.md
Labels: Backlog, planning

#48 Added impact and success must have user story backlog &formatted
  planning/backlog.md
Labels: Backlog, planning

#54 Create style.сss
  style.сss
Labels: css

#52 Create index+add fonts
  index.html
Labels: html

#49 changes of Tugba's time + meeting update
  planning/README.md
Labels: planning

#67 Development-strategy.md
  planning/Development-strategy.md
Labels: Development Strategy, planning

#75 added result part of development strategy
  planning/Development-strategy.md
Labels: Development Strategy, Result, css, html

#77 added result html to index html
  index.html
  style.сss
Labels: Result, html

#78 added result parts css to style.css
  style.сss
Labels: Result, css

#79 deleted roboto font and added "/"
  index.html
Labels: Result, html

#80 added space to link with style.css
  index.html
Labels: Result, html

#81 Removed "/"
  index.html
Labels: html

#82 created css folder and changed path in index
  css/style.сss
  index.html
Labels: Result, html

#86 moved new style.css to css folder and deleted old one
  css/style.css
  css/style.сss
Labels: Result

#90 Delete style.css
  style.css
Labels: bug

#92 img folder+logo
  img/logohyf.svg
Labels: css, planning

#93 Added "successes story" css
  css/style.css
Labels: css

#95 html for successes story
  index.html
Labels: html

#96 added successes story img
  img/gita.jpeg
  img/ram.jpeg
Labels: html

#98 edited img src
  index.html
Labels: html

#99 edited img src
  index.html
Labels: html

#101 image for retrospective
  planning/RetroHYF1.jpg
Labels: planning

#102 Retrospective for week 19-25.04
  planning/retrospective.md
Labels: planning

#105 Added css for hiding scrollbar
  css/style.css
Labels: css

#107 Added dev,stratagy
  planning/Development-strategy.md
Labels: Development Strategy, css, html

#108 Updated css for adding vertical scrollbar
  css/style.css
Labels: css

#112 Corevalue part for development strategy
  planning/Development-strategy.md
Labels: Development Strategy, css, html, planning

#113 Corevalue html and css
  css/style.css
  img/commitment.svg
  img/community.svg
  img/diversity.svg
  img/open.svg
  index.html
Labels: core values, css, html

#114 changed image paths for core value part in index html
  index.html
Labels: core values, html

#115 added text to image alt and h1
  index.html
Labels: core values, html

#116 added bold font to title h3 in css of core values part
  css/style.css
Labels: core values, css

#117 Edited successes story html part
  index.html
Labels: bug, html

#118 edited css
  css/style.css
Labels: bug, css

#122 Added development strategy-support the developers
  planning/Development-strategy.md
Labels: Development Strategy, css, html, planning

#125 add dev strategy for ourprogram part
  planning/Development-strategy.md
Labels: Development Strategy, Our program, css, html, planning

#135 Added html code for footer
  index.html
Labels: footer, html

#136 Added css for footer
  css/style.css
Labels: css, footer

#139 css for ourpartner part
  css/style.css
  index.html
Labels: Our Partners, css, documentation, html

#140 html and css for support the developers
  css/style.css
  index.html
Labels: css, html, support the developers

#141 htm_css for contacts part
  planning/Development-strategy.md
Labels: Development Strategy

#145 Development header html+css
  planning/Development-strategy.md
Labels: Development Strategy

#146 development str main img_css_html
  planning/Development-strategy.md
Labels: Development Strategy, Main Screen, css, html

#147 Contact us left part Html+СSS
  css/style.css
  index.html
Labels: contact us+map, css, html

#148 main photo maybe css,html
  css/style.css
  img/imgmain.png
  index.html
Labels: Main Screen, css, html

#152 Add files via upload
  img/imgmain.png
Labels: Main Screen

#154 add logo images for partnerships
  img/partners-logos/artevelde*.svg
  img/partners-logos/bruxelles-economie.svg
  img/partners-logos/bruxelles-formation.png
  img/partners-logos/datacamp.svg
  img/partners-logos/digital-belgium.svg
  img/partners-logos/duojob.png
  img/partners-logos/member.png
  img/partners-logos/microsoft.svg
  img/partners-logos/open-knowledge.svg
  img/partners-logos/open-recognition.png
  img/partners-logos/print-simple.svg
  img/partners-logos/ux-antwerp.png
Labels: Our Partners

#155 added html and css for donation form
  css/style.css
  index.html
Labels: css, donate, html
