Repository yildiztugba/HYKWebsite, pull requests merged in 2021-05, with the labels that each got.

#156 Contact us right big Map
  css/style.css
  img/map.png
  index.html
Labels: contact us+map, css, html

#158 updated css for successes storis
  css/style.css
Labels: css

#159 updated index html
  index.html
Labels: html

#162 Added development strategy for donation form
  planning/Development-strategy.md
Labels: Development Strategy, css, documentation, donate, html

#164 New Miro image
  img/RetroHYF2.jpg
Labels: planning

#166 our-partners css updated for margin
  css/style.css
Labels: Our Partners, css

#165 edited css of suc sto
  css/style.css
Labels: css

#163 Retrospective 26_02.05
  planning/retrospective.md
Labels: planning

#168 updated css for the successes story
  css/style.css
Labels: css

#167 update image
  planning/retrospective.md
Labels: planning

#169 Edited css for the successes story
  css/style.css
Labels: css

#170 updated css for our partners
  css/style.css
Labels: css

#171 Edited index html
  index.html
Labels: css

#172 Edited css for footer
  css/style.css
Labels: css

#173 Edited css
  css/style.css
Labels: css

#174 formatting development strategy
  planning/Development-strategy.md
Labels: planning

#175 edited css for successes story
  css/style.css
Labels: css

#177 upload img for ourprogram part
  index.html
Labels: Our program

#178 Update index.html
  index.html
Labels: html

#179 Update index.html
  index.html
Labels: html
